@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'SoDo Sans';
    src: local('SoDo Sans Regular'), local('SoDoSans-Regular'),
        url('SoDoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  

*{
    font-family: 'SoDo Sans', 'Montserrat', serif;
}

body{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav > *{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#nav-left{
    justify-content: left;
    margin-left:9vw;
}

#nav-right{
    justify-content: right;
    margin-right: 9vw;
}

nav > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.menu-item{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.menu-item:hover{
    color: green;
}

.functions{
    transition: all .2s ease;
}

.functions:hover{
    filter: brightness(95%);
}

#logo img{
    width: 85%;
    height: auto;
}

#menuimg{
    display: none;
    height: 100%;
    width: auto;
}

#locicon{
    width: 15px;
}

.button{
    font-size: 15px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

#ingbutton{
    font-size: 15px;
    border: solid 1px;
    border-radius: 20px;
    background-color: #fff;
}

#unetebutton{
    font-size: 15px;
    border: solid 1px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
}

#unetebutton:hover{
    background-color: rgb(45, 45, 45);
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content--banner{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 94vw;
    height: auto;
    margin-bottom: 30px;
}

#banner1-green{
    background-color: #1e3932;
}

#banner2-blue{
    background-color: #0844b4;
    flex-direction: row-reverse;
}

#banner3-red{
    background-color: #d80434;
}

#banner4-green{
    background-color: #1e3932;
    flex-direction: row-reverse;
}

#banner5-red{
    background-color: #d50032;
}

#banner5-btn{
    color: white;
    text-decoration: none;
}

.content--banner--img{
    display: inline-block;
    width: 50%;
}

.content--banner--txtblock{
    width: 45vw;
    justify-content: center;
    text-align: center;
    line-height: 35px;
    padding: 32px 16px;
}

.wrapper{
    min-width: 350px;
    width: 83%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;    
}

.contenth1{
    font-size: 30px;
    font-weight: 700;
}

.contentp{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content--blocks{
    display: flex;
    flex-direction: row;
    width: 94vw;
}

.content--blocks--bl{
    flex-direction: column;
    width: 46vw;
    max-width: 1400px;
    height: 105vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3vh;
}

#contentblock1{
    color: #d50f3e;
    background-color: #f6bfd9;
    margin-right: 2vw;
}

#contentblock2{
    background-color: #98cde4;
    color: #043c4c;
}

.content--blocks--bl img{
    width: 100%;
    height: auto;
}

.content--blocks--bl p{
    margin: 40px 30%;
    line-height: 1.75;
}

footer{
    width: 100%;
}

.upperfooter{
    display: flex;
    flex-direction: row;
    padding: 4vh 7vw;
    box-shadow: 0 -3px 3px rgba(0,0,0,.1);
}

.upperfooter h3{
    font-weight: 500;
}

.upperfooter ul{
    text-decoration: none;
    color: gray;
    list-style-type: none;
    line-height: 3;
    margin: 0;
    padding: 0;
}

.upperfooter a{
    text-decoration: none;
}

.footerlist{
    margin: 0 2vw;
}

.dropdown{
    display: none;
}

.lowerfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-top: 1px solid #eee;

}

#apps{
    margin-bottom: 20px;
}

#apps a {
    background-image: url(social_networks_v2.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    text-indent: -9999em;
    background-size: 34px;
    display: inline-block;
    height: 34px;
    margin-bottom: 20px;
    margin-right: 30px;
    width: 34px;
}

.facebookicon{
    background-position-y: 0;
}

.instagramicon{
    background-position-y: -74px;
}

.twittericon{
    background-position-y: -148px;
}

.youtubeicon{
    background-position-y: -423px;
}

#refs{
    display: flex;
    flex-direction: row;
    color: #999;
    font-size: 0.9rem;
}

#refs a{
    margin: 0 20px;
    text-decoration: none;
    font-weight: 100;
}

#rights{
    color: #999;
    line-height: 0.5;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#rights #p1{
    font-size: 14px;
}

#rights #p2{
    font-size: 10px;
}


/* MOBILE MEDIA QUERY */

@media screen and (orientation: portrait) {
    header{
        height: 8vh;
    }

    nav *{
        margin: 0;
    }

    #nav-left, #nav-right{
        margin: 5%;
    }

    .menu-item, #unetebutton, #ingbutton, #localizar{
        display: none;
    }

    #logo img{
        width: 70%;
        height: auto;
    }

    #menuimg{
        display: flex;
    }

    .content--banner{
        width: 100%;
        flex-direction: column;
    }

    .content--banner--img{
        width: 100%;
    }

    .content--banner--txtblock{
        display: flex;
        width: 100%;
        align-self: center;
        padding: 2vh 0;
    }

    .wrapper{
        width: 95%;
    }

    .contenth1{
        font-size: 1.3rem;
    }

    #banner1-green, #banner2-blue, #banner3-red, #banner4-green, #banner5-red{
        flex-direction: column;
    }

    .content--blocks{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .content--blocks--bl{
        width: 100%;
        height: 52vh;
    }

    .content--blocks--bl p{
        margin: 5%;
        line-height: 1.75;
    }

    #contentblock2{
        height: 55vh;
    }

    .upperfooter{
        flex-direction: column;
        padding: 2vh 3vw;
    }

    .footerlist ul{
        display: none;
    }

    .footerlist div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footerlist h3{
        font-size: 1.05rem;
    }

    .dropdown{
        display: flex;
        height: 100%;
        width: auto;
        align-self: center;
    }

    .lowerfooter{
        align-items: flex-start;
    }

    #refs{
        flex-direction: column;
        color: black;
        line-height: 3;
        font-size: 1rem;
    }

    #refs a{
        margin: 0;
    }

    #refs span{
        display: none;
    }

    #rights{
        color: #999;
        line-height: 1.4;
        margin-top: 5%;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
    }
    
    #rights #p1{
        font-size: 14px;
        margin-bottom: 0;
    }
    
    #rights #p2{
        font-size: 10px;
        margin: 0;
    }
  }
  


/*rewards*/

#rewards-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#fijo{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 40%;
    height: 110vh;
    position: fixed;
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#fijo img{
    width: 50%;
    height: auto;
}

#fijo h2{
    font-size: 26pt;
    font-weight: 300;
}

#scroll{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    text-align: center;
    align-items: center;
    line-height: 1.5;
}

.rewardscontent-part{
    margin-bottom: 5vh;
    margin-top: 2vh;
    margin-left: 14%;
    margin-right: 14%;
}

.rewardscontent-part h1{
    font-weight: 600;
}

#scroll h2{
    font-weight: 300;
    font-size: 22px;
}

#scroll h3{
    font-weight: normal;
}

#handbg{
    position: relative;
    z-index: -1;
    top: 5%;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    justify-self: flex-end;
    width: 43%;
    height: 45%;
}

#fijo #btns{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;

}

#rewards-content .button{
    height: 20px;
}

#rewards-content #ingbutton{
    background-color: transparent;
}

#rewards-content #ingbutton:hover{
    color: #008248;
    border-color: #008248;
}

#rewards-content #unetebutton{
    background-color: white;
    color: black;
    border-color: white;
}

.rewards-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    justify-content: space-between;
}

.rewards-items img{
    width: 150px;
    height: auto;
}

.rewards-items p{
    box-sizing: border-box;
    width: 150px;
    height: auto;
    padding: 0% 2%;
}

.contrast{
    display: inherit;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgb(241, 240, 235);
    line-height: 1.2;
}

.contrast img{
    width: 30vw;
    height: auto;
}

.contrast p{
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 5vh;
}

.rewardslist{
    margin: 0;
    padding: 5%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    list-style-type: decimal;
}

.rewardslist li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    width: 95%;
    margin-bottom: 5vh;
    list-style-type: decimal;
}

.rewardslist img{
    width: 35%;
    margin-right: 2%;
}

.contrast-wrapper{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.contrast-wrapper img{
    height: 18vh;
    width: auto;
}

.contrast-wrapper p{
    padding: 0% 2%;
    text-align: center;
    font-weight: 600;
    height: auto;
    max-height: 18vh;
    width: 9vw;
    text-align: start;
}

.contrast .star{
    width: 8%;
    height: auto;
}

.contrast-wrapper2{
    box-sizing: border-box;
    width: 100%;
    padding: 0% 10%;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: center;
}

#contrast-wrapper2-text{
    margin: 0;
    padding: 0;
    text-align: start;
    width: 43%;
    font-size: 1.1em;
    justify-self: flex-start;
}

.contrast-wrapper2 img{
    margin: 0;
    padding: 0;
    width: 55%;
    height: auto;
    justify-self: flex-end;
    align-self: center;
}

.contentwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0vw;
    width: 70%;
}

.contentwrapper p{
    width: 80%;
}

.contentwrapper-apps{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

.contrast-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-align: start;
    justify-content: center;
}

.contrast-text h2{
    font-weight: 700;
}

.contrast-text p{
    font-weight: 300;
    margin: 5% 0;
}